/*Palheta de cores*/
:root{
    --laranja:#F28705;
    --verdeEscuro:#197330;
    --verdeMedio:#3BBF4F;
    --verdeClaro:#9AF28D;
}

html::-webkit-scrollbar
{
    width: 9px;
}

html::-webkit-scrollbar-track
{
    background-color: rgb(0, 0, 0);
}

html::-webkit-scrollbar-thumb
{
    background: var(--verdeEscuro);
    border-radius: 0px;
    height: 3px;
}

html::-webkit-scrollbar-thumb:hover
{
    background:var(--verdeClaro)
}

#logo{
    position: relative;
    width: 72%;
    top: 10%;
    left: -4%;
}

#nome{
    color:#e282e6;
    font-size: 550%;
    position: absolute;
    margin: 0%;
    top: 24%;
    left: 7%;
    padding: 1.8%;
    z-index: 0;
    height: 27vh;
    width: 80%;
    text-align: center;
    border-radius: 18px;
}

/**/
.container {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
height: 100vh;
}

.container > div {
margin: 6px;
padding: 9%;
display: flex;
align-items: center;
flex-direction: column;
}

.top-left,
.top-right,
.bottom-center {
width: 195px;
height: 195px;
background-color: white;
border-radius: 50%;
padding: 10px
}

.top-left h3,
.top-right h3,
.bottom-center h3,
.top-left p,
.top-right p,
.bottom-center p {
    margin:0;
}

.sobre{
    background-color: #ffffff;
    padding: 5%;
    margin: 1%;
    border-radius: 12px;
    text-align: center
}

.sobre img
{
    width: 30%;
    display: block;
    margin: auto;
    border-radius: 50%;
}

.poster
{
    background-color: #ffffff;
    padding: 6%;
    font-size: 1.41em;
    margin-bottom: 3%;
    margin-top: 15%;
}


.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 1%;
    margin-left: 0%;
    color: #ffffff;
    text-align: center;
    }
    
    .carousel {
    display: flex;
    transition: transform 1.2s ease; /* Adiciona transição suave */
    }
    
    .carousel-item {
    width: 100vw; /* Cada item ocupa 100% da largura da viewport */
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.527) 6px 6px 4.5px;
    font-size: 1em;
    flex-shrink: 0;
    color: black;
    padding-top: 3%;
    
    }
    
    .carousel-item *
    {
        padding-left: 3%;
    }
    
    .carousel-item a {
        color: black;
        font-weight: bolder;
    }
    
    .carousel-item p {
        width: 90%;
    }

    .carousel-item > img {
        width: 25%;
        position: relative;
        left: -36%;
        border-radius: 9px;
    }

details
{
    background-color: #ffffff;
    border-radius: 12px;
    width: 90%;
    margin-left: 3%;
    margin-bottom: 3%;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.54);
    padding: 1%;
    text-align: center;
    display: flex;
}

summary
{
    font-size: 1.62em;
    font-weight: bolder;
    margin: 3%;
}

.cartaoDigital
{
    width: 25%;
}
/* ____________________________________________________________________max-320-width */

address
{
    font-style:normal;
}

.mrkt-inicial
{
    top: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header
{
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    text-align: center;
}

html,
body
{
    height: 100%;
    margin: 0%;
    background: linear-gradient(to right, var(--verdeClaro) 18%, var(--verdeEscuro));
}

h2
{
    font-family: 'Prata', serif;
    color: rgba(0, 0, 0, 0.81);
    font-size: 1.8em;
    font-weight:500;
    margin-top: 1%;
}

h3
{
    font-family: 'Prata', serif;
    color: rgba(0, 0, 0, 0.81);
    font-size: 1.5em;
    font-weight:500;
    margin: .9%;
}



span
{
    color: white;
}

ul
{
    margin: 0%;
}

#nomePrincipal
{
    margin: 0%;
}

.nomeprincipal
{
    font-family: 'Prata', serif;
    color: var(--laranja);
    font-size: 1.8em;
}
.nomeprincipal i small
{
    font-family: 'Prata', serif;
    color: var(--laranja);
}


/* __________________________________________________________________________________menu */
.menu
{
    display: inline-block;
    position: relative;
    top: -48%;
    background-color: #00000071;
    z-index: 10;
    border-radius: 9px;
    border-style: dashed;
    border-color: #ffffff;
}

.menuContent
{
    display: none;
    width: 15%;
    padding: 0%;
    padding: 4%;
    padding-left: 6%;
    left: -3%;
}

.menuContent > li
{
    margin: 15%;
    z-index: 3;
    text-align: right;

}

.menu:hover .menuContent
{
    display: block;

}



/* __________________________________________________________________________________banner */
.banner
{
    color: whitesmoke;
    background-color: #00000048;
    width: 69%;
    height: 12vh;
    position: absolute;
    top: 81%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9em;
    margin: 0%;
    border-radius: 18px;
}

.btn
{
    background: linear-gradient(to right, var(--laranja), #9c5703);
    height: 36px;
}

.btn a
{
    text-decoration: none;
}

#nomeford
{
    display: inline-block;
    float: right;
    margin: 5.4%;
}

/* _________________________________________________________________________________sobre */

.title
{
    font-family: 'Prata', serif;
    color: rgba(0, 0, 0, 0.81);
    font-size: 1.38em;
    font-weight:500;
}
/* __________________________________________________________________________poster */



/* __________________________________________________________________________cards */
.cardExpand
{
    margin: 3% 0%;
    width: 99%;
}

.cardExpand-heading
{
    background: linear-gradient(to right,rgba(0, 0, 0, 0.884) 1%, #67272d26 90% );
    padding: .9%;
    width: 99%;
}

.title
{
    color: white;
}

.cardExpand-body
{
    padding: 3%;
    background-color: #ffffff;
    display: none;
    position: absolute;
    right: .9%;
    width: 90%;
}

.cardExpand:hover .cardExpand-body
{
    display: inline-block;
}
/* ___________________________________________________________________________________ */

.cardDuro
{
    margin: 3% auto;
    background-color: #ffffff;
    width: 81%;
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.527) 6px 6px 4.5px;
}

.cardDuro-body
{
    padding: 3%;
}

/*_________________________________________________________________________________Outros */


.img99
{
    width: 99.9%
}

/* __________________________________________________________________________________Rodape */

.links
{
    display: block;
    width: 300px;
    margin: 0% auto;
    position: absolute;
    left: 15%;
}

.links a img
{
    display: inline;
    margin: 1.2% .3%;
    border-radius: 50%;
    width: 90px;
}

footer
{
    text-align: center;
    color: var(--laranja);
    background: rgb(0, 0, 0);
    padding: 1.5%;
    margin-top: 27%;
    border-radius: 18px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

a:link
{
    color: whitesmoke;
    text-decoration: none;
}
a:visited
{color: whitesmoke;}

/*____________________________________________________________________________Outras telas */

@media (min-width: 630px)
{
    header
    {
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    nav
    {
        max-width: 450px;
    }

    .mrkt-inicial
    {
        top:-1%
    }

/*___________________________________________________________________________________menu*/
    .menu
    {
        padding: 1%;
        left: 69%;
        top: -66%;
    }

    .menu:hover .menuContent
    {
        display: inline;

    }


    .menu >span
    {
        display: none;
    }

    .menuContent
    {
        display: block;
    }
    .menuContent > li
    {
        padding: 1.08%;
        display: inline;
        margin: 1%;
    }

    .menuContent > li:hover
    {
        font-size: 1.17em;
        transition-duration: .6s;
    }

    #logo{
        left: 0%;
    }


/*__________________________________________________________________________________sobre*/

    /*_______________________________________________________________________________cards*/
    #proserv, #serv
    {
        display: block;
        max-width: 693px;
        margin: 0% auto;
    }

    .cardDuro
    {
        display: inline-block;
        vertical-align: top;
        height: 433px;
        width: 270px;
        margin: 1% auto;
    }

    .cardExpand-body
{
    padding: 3%;
    background-color: #ffffff;
    display: none;
    position: absolute;
    width: 27%;
}

    /*_______________________________________________________________________________rodape*/
    .links
    {
        display: block;
        width: 540px;
        margin: 0% auto;
    }

    .links a img:hover
    {
        width: 96px;
    }

    .links a img
    {
        margin: 1.8% 7.2%;
        border-radius: 50%;
        width: 90px;
    }

}


@media (min-width: 999px)
{
    header
    {
        height: 100%;
        background-size: 21%;
        background-repeat: no-repeat;
        background-position: center;

    }

    .mrkt-inicial{
        top:-24%;
    }

    section
    {
        max-width: 96%;
        margin: auto;
    }

    footer{
        margin-top: 12%;
    }
/*___________________________________________________________________________________menu*/
.menu
{
    width: 300px;
    padding: 1.5% 0%;
    position:absolute;
    left: 69%;
    top: 0%;
}

.menu >span
{
    display: none;
}

.menuContent
{
    display: inline;
}
.menuContent > li
{
    padding: 1.08%;
    display: inline;
    margin: 1%;
}

.menuContent > li:hover
{
    font-size: 1.17em;
    transition-duration: .6s;
}


/*__________________________________________________________________________________sobre*/



    /*_______________________________________________________________________________cards*/
    #proserv, #serv
    {
        display: block;
        max-width: 1008px;
        margin: 0% 9%;
    }

    .cardExpand-body
    {
        padding: 3%;
        background-color: #ffffff;
        display: none;
        position: absolute;
        right: 6%;
        width: 21%;
    }

    .cardDuro
    {
        vertical-align: top;
        height: 405px;
        width: 360px;
        margin: 1% 1%;
    }

    /*_______________________________________________________________________________rodape*/
    .links
    {
        display: inline-block;
        width: 540px;
        margin: 0 21%;
    }

    .links a img
    {
        margin: 1.8% 7.2%;
        border-radius: 50%;
        width: 90px;
    }


}